MYSQL_ROOT_PASSWORD=pass1234
MYSQL_DATABASE=exchange_rate_db
MYSQL_USER=user1
MYSQL_PASSWORD=pass1234
DB_HOST=db
DB_PORT=3306
EXCHANGH_RATE_URL=https://v6.exchangerate-api.com/v6
EXCHANGH_RATE_API_KEY=your_api
